@page
@model Lab12.Pages.Pacients.CreatePacient
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}

<form method="post">
    <div class="card">
        <div class="card-header">
            <h1>New Pacient</h1>
        </div>
        <div class="card-body">
            <div class="passEditRowName">
                <label asp-for="Pacient.Name">Name: </label>
                <input asp-for="Pacient.Name" placeholder="@Model.Pacient.Name"/>
            </div>
        </div>
    </div>
    <div>
        <button class="btn41-43 btn-43" type="submit">Create</button>
        <a class="btn41-43 btn-43" asp-page="./Index">Cancel</a>
    </div>
</form>